.DS_Store
**/.idea/
.vscode/
dist/

build/
sync/
*.userdb/
installation.yaml
user.yaml
# *.custom.yaml 将配置文件同步到git远程仓库
!others/**/*.custom.yaml

# custom_phrase_double.txt 将自建词库同步到远程仓库
others/script/scel2txt/out/*
others/script/scel2txt/scel/*
cn_dicts/temp.txt

*private*

rime_console
rime_deployer
rime_patch